<div class="container">

  <% if @bundles.length > 0 %>
    <h4 class="header"><%= @heading %></h4>
    <% @bundles.each do |bundle| %>
      <%= render partial: 'bundles/card', locals: { bundle: bundle } %>
    <% end %>
  <% else %>
    <span class="italic">
      <%= @is_current ? "You haven't" : "#{@user.email} hasn't" %> authored any maps yet.
    </span>
  <% end %>

  <% if @is_current %>
    <div class="subscription">
      <% if @user.subscribed? %>
        Subscribed until <%= @user.subscription_expiration %>
      <% else %>
        <%= link_to 'Subscribe', new_subscription_path %>
      <% end %>
    </div>
    <div>
      <%= link_to 'Upload a New Map', new_bundle_path, class: 'btn waves-effect waves-light' %>
    </div>
  <% end %>
</div>
