<header>
  <div class="left">
    <%= link_to root_path do %>
      <h1>beatmaps</h1>
    <% end %>
  </div>

  <div class="spacer"></div>

  <div class="right">
    <!-- if not logged in, 'log in' or 'sign up' -->
    <% if current_user %>
      <%= current_user.email %>
      <%= link_to( 'Log out', destroy_user_session_path, :method => :delete ) %>
    <% else %>
      <%= link_to( 'Sign up', new_user_registration_path ) %>
      <%= link_to( 'Sign in', new_user_session_path ) %>
    <% end %>
  </div>
</header>
