<%= form_with model: @bundle do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :artist %>
    <%= f.text_field :artist %>
  </div>

  <div class="field">
    <%= f.label :difficulties %>
    <%= f.text_field :difficulties %>
  </div>

  <div class="field">
    <%= f.label :thumbnail %>
    <%= f.file_field :thumbnail %>
    <div class="thumbnail-preview <%= @bundle.thumbnail.url || 'hide' %>"
         style="background-image: url(<%= @bundle.thumbnail.url %>);">
    </div>
  </div>

  <div class="field">
    <%= f.label :archive %>
    <%= f.file_field :archive %>
    <div class="archive-preview <%= @bundle.archive.url || 'hide' %>"
         style="background-image: url(<%= asset_path('zip-512.png') %>);">
    </div>
  </div>

  <div class="field">
    <label>
      <%= f.check_box :public %>
      <span>Public</span>
    </label>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: 'btn waves-effect waves-light' %>
  </div>
<% end %>

<script>
  function enableFilePreview(inputSelector, callback) {
    document.querySelector(inputSelector).addEventListener('change', function (e) {
      var reader = new window.FileReader()
      reader.onload = function (ev) {
        callback(ev)
      }
      reader.readAsDataURL(event.target.files[0])
    })
  }

  enableFilePreview('#bundle_thumbnail', function (ev) {
    const image = ev.target.result
    var preview = document.querySelector('.thumbnail-preview')
    preview.classList.remove('hide')
    preview.style = 'background-image: url(' + image + ')'
  })

  enableFilePreview('#bundle_archive', function (ev) {
    var preview = document.querySelector('.archive-preview')
    preview.classList.remove('hide')
  })
</script>
