<%= form_for @bundle, url: action do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'materialize-textarea' %>
  </div>

  <div class="field">
    <%= f.label :archive %>
    <%= f.file_field :archive %>
    <div class="archive-preview <%= @bundle.archive.url || 'hide' %>"
         style="background-image: url(<%= asset_path('zip-512.png') %>);">
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: 'btn waves-effect waves-light' %>
  </div>
<% end %>

<script>
  function enableFilePreview(inputSelector, callback) {
    document.querySelector(inputSelector).addEventListener('change', function (e) {
      var reader = new window.FileReader()
      reader.onload = function (ev) {
        callback(ev)
      }
      reader.readAsDataURL(event.target.files[0])
    })
  }

  enableFilePreview('#bundle_archive', function (ev) {
    var preview = document.querySelector('.archive-preview')
    preview.classList.remove('hide')
  })
</script>
