new bundle

<%= form_with model: @bundle do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.file_field :archive %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
