<div class="container">
  <h4 class="header">
    <span class="italic"><%= @bundle.title %></span> by
    <span class="bold"><%= @bundle.artist %></span>
  </h4>

  <h5>
    <%= link_to @bundle.author_name, user_path(@bundle.author_name), class: 'teal-text text-lighten-1' %>
  </h5>
 
  <div class="bundle-show row m-b">
    <div class="col thumbnail m4 s12">
      <img src="<%= @bundle.thumbnail.url %>" />
    </div>
    <div class="col m8 s12">
      <div class="m-b">
        <label>Description</label><br/>
        <%= description(@bundle.description) %>
      </div>

      <div class="m-b">
        <label>Contributors</label><br/>
        <% @contributors.each do |contributor, contributions| %>
          <%= contributor %>:&nbsp;
          <%= contributions.join(', ') %><br/>
        <% end %>
      </div>

      <div class="m-b">
        <label>Difficulties</label><br/>
        <% @bundle.difficulties.each do |difficulty| %>
          <span class="difficulty-pill"><%= difficulty.name %></span>
        <% end %>
      </div>

      <% if @bundle.archive %>
        <% if current_user.subscribed? %>
          <%= link_to 'Download', @bundle.archive.url, class: 'btn waves-effect waves-light' %>
        <% end %>
        <% if @bundle.author_id == current_user.id %>
          <%= link_to 'Edit', edit_bundle_path(@bundle), class: 'btn' %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div>
    <%= link_to 'Back', bundles_path, class: 'btn waves-effect waves-light' %>
  </div>
</div>
