<!DOCTYPE html>
<html>
  <head>
    <title>beatmaps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="apple-touch-icon" href="<%= asset_path('favicons/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" href="<%= asset_path('favicons/favicon-16x16.png') %>" sizes="16x16">
    <link rel="icon" type="image/png" href="<%= asset_path('favicons/favicon-32x32.png') %>" sizes="32x32">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="app">
      <div id="content">
        <%= render 'shared/navbar' %>
        <div class="flash-toaster z-depth-3"><%= notice %></div>
        <div class="flash-toaster deep-orange darken-4 z-depth-3"><%= alert %></div>
        <div class="yield">
          <%= yield %>
        </div>
      </div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
